<%= form_with(model: semester, local: true) do |form| %>
	<% if semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(semester.errors.count, "error") %> contacts error:</h2>
      <ul>
      <% semester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="field">
			<%= form.label :is_even %>
			<%= form.label :is_even, "Yes", :value => "true"  %>
			<%= form.radio_button :is_even, true %>
			<%= form.label :is_even, "No", :value => "false" %>
			<%= form.radio_button :is_even, false %>
		</div>
		<div class="field">
			<%= form.label :fecha_inicio_dd_mm_aaaa %>
			<%= form.date_field :start_date %>
		</div>
		<div class="field">
			<%= form.label :fecha_cierre_dd_mm_aaaa %>
			<%= form.date_field :finish_date %>
  	</div>
		<div class="field">
			<%= form.label :descripcion %>
			<%= form.text_field :backup %>
		</div>

    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>

<div class="page-actions">
  <%= link_to 'Back', semesters_path, class: "btn btn-sm btn-outline-primary" %>
</div>