<%= form_with(model: semester, local: true) do |form| %>
		<% if semester.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(semester.errors.count, "error") %> contacts error:</h2>
				<ul>
				<% semester.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

<div class="row">
		
	<div class="col-sm-2">
		<%= form.label :Semestre_par_? %>
	</div>
	<div class="col-sm-10">
			<%= form.label :is_even, "Si", :value => "true"  %>
			<%= form.radio_button :is_even, true %>
			<%= form.label :is_even, "No", :value => "false" %>
			<%= form.radio_button :is_even, false %>
	</div>
</div>
<div class="row">
		
	<div class="col-sm-2">
	<%= form.label :Fecha_inicio %>
	</div>
	<div class="col-sm-3">
	<%= form.date_field :start_date, class: "input-group date" %>
	</div>
</div>
<div class="row">
		
	<div class="col-sm-2">
	<%= form.label :Fecha_cierre%>
	</div>
	<div class="col-sm-3">
	<%= form.date_field :finish_date, class: "input-group date" %>
	</div>
</div>
<div class="row">
		
	<div class="col-sm-2">
	<%= form.label :descripcion %>
	</div>
	<div class="col-sm-10">
	<%= form.text_field :backup, class: "form-control"%>
	</div>
</div>
</br>
				<%= form.submit :class => 'btn btn-dark' %>
	<% end %>

