<div class="container-fluid">
  <table class="table table-bordered table-hover table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Semestre</th>
      <th scope="col">Inicio</th>
      <th scope="col">Fin</th>
      <th scope="col">Descripción</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% semesters.each do |semester| %>
      <tr>
        <th scope="row"><%= (semester.is_even ? "impar": "par") %></th>
        <td><%= semester.start_date %></td>
        <td><%= semester.finish_date %></td>
        <td><%= semester.backup %></td>
        <td>
            <div class="dropdown">
                <button type="button" class="btn btn-dark btn-sm dropdown-toggle" data-toggle="dropdown">Acciones</button>
                <div class="dropdown-menu">
                    <%= link_to "Ver", semester, :class => "dropdown-item" %>
                    <%= link_to "Editar", edit_semester_path(semester), :class => "dropdown-item" %>
                    <%= link_to "Eliminar", semester, method: :delete, data: { confirm: "¿Desea eliminar este semestre?" }, :class => "dropdown-item" %>
                </div>
            </div>
        </td>
      </tr>    
    <% end %>
  </tbody>
</table>