<%= form_with(model: [:admins, administrative],
			url: administrative.new_record? ? admins_administratives_path : admins_administrative_path,
			local: true) do |form| %>
	<% if administrative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(administrative.errors.count, "error") %> contacts error:</h2>
      <ul>
      <% administrative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
		
	<div class="col-lg-2">
		<h5><%= form.label :first_name %></h5>
	</div>
	<div class="col-lg-10">
		<%= form.text_field :first_name %>
	</div>
</div>
<div class="row">

	<div class="col-lg-2">
		<h5><%= form.label :last_name %></h5>
	</div>
	<div class="col-lg-10">
		<%= form.text_field :last_name %>
	</div>
</div>

<div class="row">
	
	<div class="col-lg-2">
		<h5><%= form.label :role %></h5>
	</div>
	<div class="col-lg-10">
		<div class="custom-control custom-radio">
			<input type="radio" class="custom-control-input" id="Administrative" name="defaultExampleRadios" disabled>
			<label class="custom-control-label" for="Administrative">Administrative</label>
		</div>
	</div>
</div>
<div class="row">

	<div class="col-lg-2">
		<h5><%= form.label :description %></h5>
	</div>
	<div class="col-lg-10">
		<%= form.text_field :description %>
	</div>
</div>
<div class="row">

	<div class="col-lg-2">
		<h5><%= form.label :email %></h5>
	</div>
	<div class="col-lg-10">
		<%= form.text_field :email %>
	</div>
</div>

<%= form.submit :class => 'btn btn-primary' %>

<% end %>
