<div class="container-fluid">
	<%= bootstrap_form_for(@administrative, model: [:admins, administrative],
	url: administrative.new_record? ? admins_administratives_path : admins_administrative_path, local: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |form| %>
		<% if administrative.errors.any? %>
    	<div id="error_explanation">
      	<h2><%= pluralize(administrative.errors.count, "error") %> contacts error:</h2>
      	<ul>
      	<% administrative.errors.full_messages.each do |message| %>
        	<li><%= message %></li>
      	<% end %>
      	</ul>
    	</div>
  	<% end %>
	
		<%= form.text_field :first_name, label: "Nombres:" %>
		<%= form.text_field :last_name, label: "Apellidos:" %>
	
		<div class="row">
			<div class="col-sm-2">
				<%= form.label :role %>
			</div>
			<div class="col-sm-10">
				<div class="custom-control custom-radio">
					<input type="radio"  id="Administrative" name="defaultExampleRadios" checked disabled>
					<label for="Administrative">Administrativo</label>
				</div>
			</div>
		</div>

		<%= form.text_field :description, label: "Descripción:" %>
		<%= form.text_field :email, label: "Email:" %>
		<%= form.form_group do %>
			<% if current_page?(controller: 'administratives', action: 'new') %>
				<%= form.submit "Crear Administrativo", :class => 'btn btn-dark' %>
			<% else %>
				<%= form.submit "Editar Administrativo", :class => 'btn btn-dark' %>
			<% end %>
		<% end %>
	<% end %>
</div>