<h1>Admin tipo Administrative#show</h1>
<p>Find me in app/views/admins/administratives/new.html.erb</p>

<h2><%= @administrative.full_name %><h2>

<ul>
  <li><strong>First Name: </strong><%= @administrative.first_name %></li>
  <li><strong>Last Name: </strong><%= @administrative.last_name %></li>
  <li><strong>Status: </strong><%= @administrative.status %></li>
  <li><strong>Role: </strong><%= @administrative.admin_role %></li>
</ul>