<div class="container-fluid">
	<%= bootstrap_form_for(@admin, model: admin, local: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |form| %>
		<% if admin.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(admin.errors.count, "error") %> contacts error:</h2>
      			<ul>
      			<% admin.errors.full_messages.each do |message| %>
        			<li><%= message %></li>
      			<% end %>
      			</ul>
    		</div>
  		<% end %>
	
		<%= form.text_field :first_name, label: "Nombres:" %>
		<%= form.text_field :last_name, label: "Apellidos:" %>



		<div class="row">
			
			<div class="col-lg-2">
			
				<%= form.label  "Rol:" %>
			</div>
			<div class="col-lg-10">
				<%= form.radio_button :admin_role, 'director' %>

				<%= form.radio_button :admin_role, 'secretary' %>
			
				<%= form.radio_button :admin_role, 'administrative' %>
			</div>
		</div>

		

		<%= form.text_field :description, label: "Descripción:" %>
		<%= form.text_field :email, label: "Email:" %>
		<%= form.form_group do %>
			<% if current_page?(controller: 'admins', action: 'new') %>
				<%= form.submit "Crear Administrador", :class => 'btn btn-dark' %>
			<% else %>
				<%= form.submit "Editar Administrador", :class => 'btn btn-dark' %>
			<% end %>
		<% end %>
	<% end %>
</div>