<div class="dropdown-divider"></div>
<div class="container-fluid">
  <div class="row">
  <div class="col-lg-9"><h3><%= @student.unsa_full_name %></h3></div>
  <!--<div class="col-lg-3"><%= link_to 'Back', :back, :class => 'btn btn-info'%></div>-->
  </div>
</div>
<div class="dropdown-divider"></div>
<div class="container-fluid">
  <table class="table table-bordered table-hover table-striped table-sm">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Group</th>
      <th scope="col">Enrolled</th>
    </tr>
  </thead>
  <tbody>
    <% if @chosen_labs %>
    <% @chosen_labs.each do |chosen_lab| %>
      <tr>
        <th scope="row"><%= chosen_lab.course.code %></th>
        <td><%= chosen_lab.course.name %></td>
        <td><%= chosen_lab.group.name %></td>
        <td>Already Enrolled</td>
      </tr>    
    <% end %>
    <% end %>
    <% if @courses %>
    <% @courses.each do |course| %>
      <%= form_with url: students_enroll_student_path do |form|%>
      <tr>
        <%= form.hidden_field :course_id, value: course.id, required: true %>
        <th scope="row"><div align= 'center'><%= course.code %></div></th>
        <td><div align= 'center'><%= course.name %></div></td>
        <td><div align= 'center'><%= form.collection_select(:group_id, course.available_laboratories, :first, :second) %></div></td>
        <td><div align= 'center'><%= form.submit 'ENROLL', class: 'btn btn-primary' %></div></td>
      </tr>
      <% end %>    
    <% end %>
    <% end %>
  </tbody>
</table>