<html>
	<input type="submit" id="cargar-constancia" class="btn btn-primary" value="Cargar constancia de Matricula" >
	<h1>Bienvenido(a), <%= @student.full_name %></h1>
	<p>CUI: <%= @student.cui %></p>	
	<div class="card">
		<div class="card-header">COMUNICADOS</div>
		<ul class="list-group">
		  <li class="list-group-item">Perteneces al SEGUNDO TERCIO, no puedes matricularte aun.</li>
		  <li class="list-group-item">Aun no has subido tu constancia de matricula.</li>
		  <li class="list-group-item">Mensaje 3.</li>
		  <li class="list-group-item">Mensaje 4.</li>
		</ul>
	</div>
	<br/>
	<div class="card text-center" >
		<div class="card-header">CRONOGRAMA DE MATRICULAS</div>
		<table>
			<thead> 
				<tr>
					<th>GRUPO</th>
					<th>A PARTIR DE:</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Grupo 1</td>
				</tr>
				<tr>
					<td>Grupo 2</td>
					<td></td>
				</tr>
				<tr>
					<td>Grupo 3</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br/>
	
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Code</th>
				<th scope="col">Name</th>
				<th scope="col">Group</th>
			</tr>
		</thead>
		<tbody>
			<% if @chosen_labs %>
			<% @chosen_labs.each do |chosen_lab| %>
			<tr>
				<th scope="row"><%= chosen_lab.course.code %></th>
				<td><%= chosen_lab.course.name %></td>
				<td><%= chosen_lab.group.name %></td>
			</tr>
			<% end %>
			<% end %>
			<% if @courses %>
			<% @courses.each do |course| %>
			<%= form_with url: students_enroll_student_path do |form|%>
			<tr>
				<%= form.hidden_field :course_id, value: course.id, required: true %>
				<th scope="row"><%= course.code %></th>
				<td><%= course.name %></td>
				<td><%= form.collection_select(:group_id, course.available_laboratories, :first, :second) %></td>
				<td><%= form.submit 'ENROLL', class: 'btn btn-primary' %></td>
			</tr>
			<% end %>
			<% end %>
			<% end %>
		</tbody>
	</table>

	<input type="submit" id="matricular" class="btn btn-primary" value="Matricular" >
	<p></p>



</html>