<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>

<h2><%= @student.full_name %><h2>

<ul>
  <li><strong>CUI: </strong><%= @student.cui %></li>
  <li><strong>First Name: </strong><%= @student.first_name %></li>
  <li><strong>Last Name: </strong><%= @student.last_name %></li>
  <li><strong>Authorized: </strong><%= @student.authorized %></li>
  <li><strong>Certificate Uploaded: </strong><%= @student.certificate_uploaded %></li>
  <li><strong>Enrolled: </strong><%= @student.enrolled %></li>
  <li><strong>Courses: </strong><%= @student.course_codes %></li>
  <li><strong>Status: </strong><%= @student.status %></li>
  <li><strong>Description: </strong><%= @student.description %></li>
  <li><strong>Clasification: </strong><%= @student.clasification.name %></li>
</ul>

<div class="page-actions">
  <%= link_to 'Edit', edit_student_path(@student), class: "btn btn-sm btn-outline-primary" %>
  <%= link_to 'Back', students_path, class: "btn btn-sm btn-outline-primary" %>
</div>