<div class="container-fluid">
	<%= bootstrap_form_for(@secretary, model: [:admins, secretary], url: secretary.new_record? ? admins_secretaries_path : admins_secretary_path, local: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |form| %>
		<% if secretary.errors.any? %>
    	<div id="error_explanation">
      	<h2><%= pluralize(secretary.errors.count, "error") %> contacts error:</h2>
      	<ul>
      	<% secretary.errors.full_messages.each do |message| %>
        	<li><%= message %></li>
      	<% end %>
      	</ul>
    	</div>
  	<% end %>
	
		<%= form.text_field :first_name, label: "Nombres:" %>
		<%= form.text_field :last_name, label: "Apellidos:" %>

		<div class="row">	
			<div class="col-sm-2">
				<%= form.label :role %>
			</div>
			<div class="col-sm-10">
				<div class="custom-control custom-radio">
					<input type="radio" id="Secretary" name="defaultExampleRadios" checked disabled>
					<label for="Secretary">Secretaria</label>
				</div>
			</div>
		</div>

		<%= form.text_field :description, label: "Descripción:" %>
		<%= form.text_field :email, label: "Email:" %>
		<%= form.form_group do %>
			<% if current_page?(controller: 'secretaries', action: 'new') %>
				<%= form.submit "Crear Secretaria", :class => 'btn btn-dark' %>
			<% else %>
				<%= form.submit "Editar Secretaria", :class => 'btn btn-dark' %>
			<% end %>
		<% end %>
	<% end %>
</div>