<h1>Admins::Secretaries#show</h1>
<p>Find me in app/views/admins/secretaries/show.html.erb</p>

<h2><%= @secretary.full_name %><h2>

<ul>
  <li><strong>First Name: </strong><%= @secretary.first_name %></li>
  <li><strong>Last Name: </strong><%= @secretary.last_name %></li>
  <li><strong>Status: </strong><%= @secretary.status %></li>
  <li><strong>Description: </strong><%= @secretary.description %></li>
</ul>

<div class="page-actions">
  <%= link_to 'Edit', edit_admins_secretary_path(@secretary), class: "btn btn-sm btn-outline-primary" %>
  <%= link_to 'Back', admins_secretaries_path, class: "btn btn-sm btn-outline-primary" %>
</div>