<%= form_with(model: laboratory, local: true) do |form| %>
	<% if laboratory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(laboratory.errors.count, "error") %> contacts error:</h2>
      <ul>
      <% laboratory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
		<div class="field">
			<%= form.label :quota %>
			<%= form.text_field :quota %>
		</div>
		<div class="field">
			<%= form.label :descripcion %>
			<%= form.text_field :description %>
		</div>
		<div class="field">
			<%= form.label :course %>
			<%= form.collection_select(:course_id, Course.all, :id, :name) %>
		</div>
		<div class="field">
			<%= form.label :group %>
			<%= form.collection_select(:group_id, Group.all, :id, :name) %>
		</div>
		<div class="field">
			<%= form.label :teacher %>
			<%= form.collection_select(:teacher_id, Teacher.all, :id, :first_name) %>
		</div>

    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
