<div class="container-fluid">
  <table class="table table-bordered table-hover table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Cupos</th>
        <th scope="col">Descripción</th>
        <th scope="col">Curso</th>
        <th scope="col">Grupo</th>
        <th scope="col">Profesor</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% laboratories.each do |laboratory| %>
        <tr>
          <td><%= laboratory.quota %></td>
          <td><%= laboratory.description %></td>
          <td><%= laboratory.course.name %></td>
          <td><%= laboratory.group.name %></td>
          <td><%= laboratory.teacher.full_name %></td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn btn-dark btn-sm dropdown-toggle" data-toggle="dropdown">Acciones</button>
              <div class="dropdown-menu">
                <%= link_to "Ver", laboratories_lab_dash_path(laboratory), :class => "dropdown-item" %>
                <%= link_to "Editar", edit_laboratory_path(laboratory), :class => "dropdown-item" %>
                <%= link_to "Eliminar", laboratory, method: :delete, data: { confirm: "¿Desea eliminar este laboratorio?" }, :class => "dropdown-item" %>
              </div>
            </div>
          </td>
        </tr>    
      <% end %>
    </tbody>
  </table>
</div>
