<h1>Laboratory#show</h1>
<p>Find me in app/views/laboratories/show.html.erb</p>

<ul>
  <li><strong>quota:</strong><%= @laboratory.quota %></li>
  <li><strong>description: </strong><%= @laboratory.description %></li>
  <li><strong>course_id: </strong><%= @laboratory.course_id %></li>
  <li><strong>group_id: </strong><%= @laboratory.group_id %></li>
  <li><strong>teacher_id: </strong><%= @laboratory.teacher_id %></li>

</ul>

<div class="page-actions">
  <%= link_to 'Edit', edit_laboratory_path(@laboratory), class: "btn btn-sm btn-outline-primary" %>
  <%= link_to 'Back', laboratories_path, class: "btn btn-sm btn-outline-primary" %>
</div>