<div class="dropdown-divider"></div>
<div class="container-fluid">
  <h3>Mostrando  el Laboratorio</h3>
</div>
<div class="dropdown-divider"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10" ><h4 class="text-info" ><%= Course.find(@laboratory.course_id).name %><h4></div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>quota:</strong> </div>
    <div class="col-sm-10"> <%= @laboratory.quota %> </div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>description:</strong> </div>
    <div class="col-sm-10"> <%= @laboratory.description %> </div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>course_id:</strong> </div>
    <div class="col-sm-10"> <%= @laboratory.course_id %> </div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>group_id:</strong> </div>
    <div class="col-sm-10"> <%= @laboratory.group_id %> </div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>teacher_id:</strong> </div>
    <div class="col-sm-10"> <%= @laboratory.teacher_id %> </div>
  </div>
</div>
<div class="dropdown-divider"></div>
<div class="container-fluid">
  <%= link_to 'Back', laboratories_path, :class => "btn btn-info" %>
  <%= link_to 'Editar', edit_laboratory_path(@laboratory), :class => "btn btn-secondary" %>
</div>
