<div class="dropdown-divider"></div>
<div class="container-fluid">
  <h3>Mostrando  el Laboratorio</h3>
</div>
<div class="dropdown-divider"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10" ><h4 class="text-info" ><%= Course.find(@laboratory.course_id).name %><h4></div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>Cupos:</strong> </div>
    <div class="col-sm-10"> <%= @laboratory.quota %> </div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>Descripción:</strong> </div>
    <div class="col-sm-10"> <%= @laboratory.description %> </div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>Curso:</strong> </div>
    <div class="col-sm-10"> <%= @laboratory.course.name %> </div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>Grupo:</strong> </div>
    <div class="col-sm-10"> <%= @laboratory.group.name %> </div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>Profesor:</strong> </div>
    <div class="col-sm-10"> <%= @laboratory.teacher.full_name %> </div>
  </div>
</div>
<div class="dropdown-divider"></div>


<h2>Estudiantes matriculados en este laboratorio</h2>

<div class="dropdown-divider"></div>

<div class="container-fluid">
  <table class="table table-bordered table-hover table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">CUI</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Authorized</th>
      <th scope="col">With Constance</th>
      <th scope="col">Totally Enrolled</th>
      <th scope="col">Clasification</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @enrollmentDetails.each do |enrollmentDetail| %>
      <% student = enrollmentDetail.student %>
      <tr>
        <th scope="row"><%= student.cui %></th>
        <td><%= student.full_name%></td>
        <td><%= student.email %></td>
        <td><%= student.authorized %></td>
        <td><%= student.certificate_uploaded %></td>
        <td><%= student.enrolled %></td>
        <td><%= student.clasification.name %></td>
        <td>
            
        </td>
      </tr>    
    <% end %>
  </tbody>
  </table>
</div>


