
<div class="container-fluid">
  <br>
  <table class="table table-bordered table-hover table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <% directors.each do |director| %>
      <tr>
        <td><%= link_to director.full_name, admins_director_path(director) %></td>
        <td><%= director.status %></td>
        <td>
            <div class="dropdown">
                <button type="button" class="btn btn-dark btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                <div class="dropdown-menu">
                    <%= link_to "View", director, :class => "dropdown-item" %>
                    <%= link_to "Edit", edit_admins_director_path(director), :class => "dropdown-item" %>
                    <%= link_to "Delete", director, method: :delete, data: { confirm: "¿Deseas eliminar al administrador?" }, :class => "dropdown-item" %>
                </div>
            </div>
        </td>
      </tr>    
    <% end %>
  </tbody>
  </table>
</div>