<div class="container-fluid">
	<%= bootstrap_form_for(@teacher, model: teacher, local: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |form| %>
		<% if teacher.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(teacher.errors.count, "error") %> contacts error:</h2>
      			<ul>
      			<% teacher.errors.full_messages.each do |message| %>
        			<li><%= message %></li>
      			<% end %>
      			</ul>
    		</div>
		<% end %>	
		  	
		<%= form.text_field :first_name, label: "Nombres:" %>
		<%= form.text_field :last_name, label: "Apellidos:" %>
		<%= form.text_field :description, label: "Descripción:" %>
		<%= form.text_field :email, label: "Email:" %>
		<%= form.form_group do %>
			<%= form.submit :class => 'btn btn-dark' %>
		<% end %>
    <% end %>
</div>


