<div class="container-fluid">
  <table class="table table-bordered table-hover table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Curso</th>
        <th scope="col">Descripción</th>
        <th scope="col">Grupo</th>
        <th scope="col">Profesor</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @laboratories.each do |laboratory| %>    
        <tr>
          <td><%= link_to "#{laboratory.course.name}", laboratory_path(laboratory) %></td>
          <td><%= laboratory.description%></td>        
          <td><%= laboratory.group.name %></td>
          <td><%= laboratory.teacher.full_name %></td>
          <td><%= link_to 'Mostrar', laboratory_path(laboratory), :class => "btn btn-dark btn-sm" %></td>
        </tr>   
      <% end %>
    </tbody>
  </table>
</div>