<div class="container-fluid">
  <table class="table table-bordered table-hover table-striped table-sm">
    <thead class="thead-dark">
      <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Descripción</th>
      <th scope="col">Estado</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% teachers.each do |teacher| %>
      <tr>
        <th scope="row"><%= teacher.full_name %></th>
        <td><%= teacher.email %></td>
        <td><%= teacher.description %></td>
        <td><%= teacher.status %></td>
	      <td>
          <div class="dropdown">
            <button type="button" class="btn btn-dark btn-sm dropdown-toggle" data-toggle="dropdown">Acciones</button>
            <div class="dropdown-menu">
              <%= link_to "Ver", teacher, :class => "dropdown-item" %>
              <%= link_to "Editar", edit_teacher_path(teacher), :class => "dropdown-item" %>
              <%= link_to "Eliminar", teacher, method: :delete, data: { confirm: "¿Desea eliminar al profesor?" }, :class => "dropdown-item" %>
            </div>
          </div>
        </td>
      </tr>    
    <% end %>
  </tbody>
  </table>
</div>
