<h1>Tus laboratorios <%= @teacher.first_name%></h1>







<table class="table">
  <thead>
    <tr>
      <th scope="col">quota</th>
      <th scope="col">description</th>
      <th scope="col">course</th>
      <th scope="col">group</th>
      <th scope="col">teacher</th>
      <th scope="col">options</th>
    </tr>
  </thead>
  <tbody>
    <% @laboratories.each do |laboratory| %>
      <tr>
        <td><%= laboratory.quota %></td>
        <td><%= laboratory.description %></td>
        <td><%= laboratory.course.name %></td>
        <td><%= laboratory.group.name %></td>
        <td><%= laboratory.teacher.full_name %></td>
        <td>
        <button id='<%= "btn#{laboratory.course_id}-#{laboratory.group_id}"%>'>Detalles </button>

        
        <script>
        $('#<%= "btn#{laboratory.course_id}-#{laboratory.group_id}"%>').click(function(){
            $('#<%= "#{laboratory.course_id}-#{laboratory.group_id}"%>').show();
        });

        </script>

        </td>
      </tr>   
      <tr >
      <td colspan="6" id='<%= "#{laboratory.course_id}-#{laboratory.group_id}"%>' style='display:none'>
      <div >
      <%= render('lab', laboratory: laboratory) %> 
    </div>
      </td>
      </tr> 
    <% end %>
  </tbody>
</table>