<h1>Teachers#show</h1>
<p>Find me in app/views/teachers/show.html.erb</p>

<h2><%= @teacher.full_name %><h2>

<ul>
  <li><strong>First Name: </strong><%= @teacher.first_name %></li>
  <li><strong>Last Name: </strong><%= @teacher.last_name %></li>
  <li><strong>Status: </strong><%= @teacher.status %></li>
  <li><strong>Description: </strong><%= @teacher.description %></li>
</ul>

<div class="page-actions">
  <%= link_to 'Edit', edit_teachers_path(@teacher), class: "btn btn-sm btn-outline-primary" %>
  <%= link_to 'Back', teachers_path, class: "btn btn-sm btn-outline-primary" %>
</div>