<%= form_with(model: course, local: true) do |form| %>
	<% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> contacts error:</h2>
      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="actions">
    <div class="field">
			<%= form.label :code %>
			<%= form.text_field :code %>
		</div>
		<div class="field">
			<%= form.label :name %>
			<%= form.text_field :name %>
		</div>
		<div class="field">
			<%= form.label :has_laboratory %>
			<%= form.label :has_laboratory, "Yes", :value => "true"  %>
			<%= form.radio_button :has_laboratory, true %>
			<%= form.label :has_laboratory, "No", :value => "false" %>
			<%= form.radio_button :has_laboratory, false %>
  	</div>
		<div class="field">
			<%= form.label :description %>
			<%= form.text_field :description %>
		</div>
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>