<div class="container-fluid">
	<%= bootstrap_form_for(@course, model: course, local: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |form| %>
		<% if course.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(course.errors.count, "error") %> contacts error:</h2>
				<ul>
				<% course.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
		
		<%= form.text_field :code, label: "Código:" %>
		<%= form.text_field :name, label: "Nombre:" %>

    <div class="row">
			<div class="col-lg-2">
				<%= form.label  "Tiene laboratorio:" %>
			</div>
			<div class="col-lg-10">
				<%= form.radio_button :has_laboratory, 'true', label: "Si" %>
				<%= form.radio_button :has_laboratory, 'false', label: "No" %>
			</div>
		</div>

		<%= form.text_field :description, label: "Descripción:" %>
		<%= form.form_group do %>
			<% if current_page?(controller: 'courses', action: 'new') %>
				<%= form.submit "Crear Curso", :class => 'btn btn-dark' %>
			<% else %>
				<%= form.submit "Editar Curso", :class => 'btn btn-dark' %>
			<% end %>  
		<% end %>
	<% end %>
</div>