<div class="container-fluid">
	<%= bootstrap_form_for(@course, model: course, local: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |form| %>
		<% if course.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(course.errors.count, "error") %> contacts error:</h2>
				<ul>
				<% course.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
		
		<%= form.text_field :code %>
		<%= form.text_field :name %>
		<%= form.text_field :has_laboratory %>
		<div class="field">
			<%= form.label :has_laboratory %>
			<%= form.label :has_laboratory, "Yes", :value => "true"  %>
			<%= form.radio_button :has_laboratory, true %>
			<%= form.label :has_laboratory, "No", :value => "false" %>
			<%= form.radio_button :has_laboratory, false %>
		</div>
		<%= form.text_field :description %>
		<%= form.form_group do %>
			<%= form.submit :class => "btn btn-dark" %>  
		<% end %>
	<% end %>
</div>