<div class="container-fluid">
  <table class="table table-bordered table-hover table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Laboratorio</th>
        <th scope="col">Estado</th>
        <th scope="col">Descripción</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% courses.each do |course| %>
        <tr>
          <th scope="row"><%= course.code %></th>
          <td><%= course.name %></td>
          <td><%= course.has_laboratory %></td>
          <td><%= course.status %></td>
          <td><%= course.description %></td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn btn-dark btn-sm dropdown-toggle" data-toggle="dropdown">Acciones</button>
              <div class="dropdown-menu">
                <%= link_to "Ver", course, :class => "dropdown-item" %>
                <%= link_to "Editar", edit_course_path(course), :class => "dropdown-item" %>
                <%= link_to "Eliminar", course, method: :delete, data: { confirm: "Do you want to delete this course?" }, :class => "dropdown-item" %>
              </div>
            </div>
          </td>
        </tr>    
      <% end %>
    </tbody>
  </table>
</div>
