<div class="dropdown-divider"></div>
<div class="container-fluid">
  <h3>Mostrando el Curso</h3>
</div>
<div class="dropdown-divider"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10" ><h4 class="text-info" ><%= @course.name %><h4></div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>Código:</strong> </div>
    <div class="col-sm-10"> <%= @course.code %> </div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>Nombre:</strong> </div>
    <div class="col-sm-10"> <%= @course.name %> </div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>Tiene laboratorio:</strong> </div>
    <div class="col-sm-10"> <%= @course.has_laboratory %> </div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>Estado:</strong> </div>
    <div class="col-sm-10"> <%= @course.status %> </div>
  </div>
  <div class="row">
    <div class="col-sm-2" > <strong>Descripción:</strong> </div>
    <div class="col-sm-10"> <%= @course.description %> </div>
  </div>
</div>
<div class="dropdown-divider"></div>
<div class="container-fluid">
  <%= link_to 'Atrás', courses_path, :class => "btn btn-info" %>
  <%= link_to 'Editar', edit_course_path(@course), :class => "btn btn-secondary" %>
  <%= link_to "Eliminar Curso", @course, method: :delete, data: { confirm: "¿Desea eliminar este curso?" }, :class => "btn btn-danger" %>
</div>

<div class="dropdown-divider"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col"><h3>Laboratorios de este Curso</h3></div>
    </div>
</div>
<div class="dropdown-divider"></div>
<div class="container-fluid">
  <table class="table table-bordered table-hover table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Cupos</th>
        <th scope="col">Descripción</th>
        <th scope="col">Curso</th>
        <th scope="col">Grupo</th>
        <th scope="col">Profesor</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% Laboratory.where(course_id: @course.id).each do |laboratory| %>
        <tr>
          <td><%= laboratory.quota %></td>
          <td><%= laboratory.description %></td>
          <td><%= laboratory.course.name %></td>
          <td><%= laboratory.group.name %></td>
          <td><%= laboratory.teacher.full_name %></td>
          <td><%= link_to 'Mostrar', laboratories_lab_dash_path(laboratory), :class => "btn btn-dark btn-sm" %></td>
        </tr>    
      <% end %>
    </tbody>
  </table>
</div>
<div class="dropdown-divider"></div>
<div class="container-fluid">
    <%= link_to 'Volver a la lista de Cursos', courses_path, :class => "btn btn-info" %>
</div>
<div class="dropdown-divider"></div>