<h1>Courses#show</h1>
<p>Find me in app/views/courses/show.html.erb</p>
 <h2><%= @course.name %><h2>
 <ul>
  <li><strong>Code: </strong><%= @course.code %></li>
  <li><strong>Name: </strong><%= @course.name %></li>
  <li><strong>Laboratory: </strong><%= @course.has_laboratory %></li>
  <li><strong>Status: </strong><%= @course.status %></li>
  <li><strong>Description: </strong><%= @course.description %></li>
</ul> 

<div class="page-actions">
  <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-sm btn-outline-primary" %>
  <%= link_to 'Back', courses_path, class: "btn btn-sm btn-outline-primary" %>
</div>