<div class="container-fluid">
	<%= bootstrap_form_for(@admin, model: [:admins, admin], local: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |form| %>
		<% if admin.errors.any? %>
			<div id="error_explanation">
			<h2><%= pluralize(admin.errors.count, "error") %> contacts error:</h2>
			<ul>
			<% admin.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
			</div>
		<% end %>
	
		<%= form.text_field :first_name, label: "Nombres:" %>
		<%= form.text_field :last_name, label: "Apellidos:" %>




		<!--Modificar esta parte 
		<div class="row">	
			<div class="col-lg-2">
				<h5><%= form.label :role %></h5>
			</div>
			<div class="col-lg-10">
				<div class="custom-control custom-radio">
					<input type="radio" class="custom-control-input" id="Director" name="defaultExampleRadios">
					<label class="custom-control-label" for="Director">Director</label>
				</div>
			
				<div class="custom-control custom-radio">
					<input type="radio" class="custom-control-input" id="Secretary" name="defaultExampleRadios" checked>
					<label class="custom-control-label" for="Secretary">Secretary</label>
				</div>
	
				<div class="custom-control custom-radio">
					<input type="radio" class="custom-control-input" id="Technical" name="defaultExampleRadios" checked>
					<label class="custom-control-label" for="Technical">Technical</label>
				</div>
			</div>
		</div>
		-->

		<div class="row">
			<div class="col-sm-2">
				<%= form.label :role %>
			</div>
			<div class="col-sm-10">
				<div class="custom-control custom-radio">
					<input type="radio"  id="Admin" name="defaultExampleRadios" checked disabled>
					<label for="Admin">Admin</label>
				</div>
			</div>
		</div>
		

		<%= form.text_field :description, label: "Descripción:" %>
		<%= form.text_field :email, label: "Email:" %>
		<%= form.form_group do %>
			<% if current_page?(controller: 'admins', action: 'new') %>
				<%= form.submit "Crear Administrador", :class => 'btn btn-dark' %>
			<% else %>
				<%= form.submit "Editar Administrador", :class => 'btn btn-dark' %>
			<% end %>
		<% end %>
	<% end %>
</div>