<div class="container-fluid">
  <table class="table table-bordered table-hover table-striped table-sm">
    <thead class="thead-dark">
      <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Rol</th>
      <th scope="col">Email</th>
      <th scope="col">Descripción</th>
      <th scope="col">Estado</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
  <% admins.each do |admin| %>
    <tr>
      <td><%= link_to admin.full_name, admins_admin_path(admin) %></td>
        <td><%= admin.admin_role %></td>
        <td><%= admin.email %></td>
        <td><%= admin.description %></td>
        <td><%= admin.status %></td>
        <td>
            <div class="dropdown">
                <button type="button" class="btn btn-dark btn-sm dropdown-toggle" data-toggle="dropdown">Acciones</button>
                <div class="dropdown-menu">
                    <%= link_to "Ver", admins_admin_path(admin), :class => "dropdown-item" %>
                    <%= link_to "Editar", edit_admins_admin_path(admin), :class => "dropdown-item" %>
                    <%= link_to "Eliminar", admin, method: :delete, data: { confirm: "¿Desea eliminar al administrador?" }, :class => "dropdown-item" %>
                </div>
            </div>
        </td>
      </tr>    
    <% end %>
  </tbody>
  </table>
</div>