<ul class="nav">
  <li class="nav-item">
    <%= link_to 'HOME', root_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'MY INFO',   "/admins/#{current_admin.admin_role}s/home", class: "nav-link" %>
  </li>
<% case current_admin.admin_role%>
<% when "admin" %>
  <li class="nav-item dropdown">
    <%= link_to "ADMINS", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/admins", class: "dropdown-item" %>
      <%= link_to "ADD", "/admins/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>
  
  <li class="nav-item dropdown">
    <%= link_to "STUDENTS", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/students", class: "dropdown-item" %>
      <%= link_to "ADD", "/students/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <%= link_to "TEACHERS", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/teachers", class: "dropdown-item" %>
      <%= link_to "ADD", "/teachers/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <%= link_to "COURSES", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/courses", class: "dropdown-item" %>
      <%= link_to "ADD", "/courses/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <%= link_to "LABORATORIES", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/laboratories", class: "dropdown-item" %>
      <%= link_to "ADD", "/laboratories/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item">
    <%= link_to 'FINISH SEMESTER', '/', class: "nav-link" %>
  </li>
<% when "director" %>
  <li class="nav-item dropdown">
    <%= link_to "SECRETARIES", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/admins/secretaries", class: "dropdown-item" %>
      <%= link_to "ADD", "/admins/secretaries/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <%= link_to "ADMINISTRATIVES", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/admins/administratives", class: "dropdown-item" %>
      <%= link_to "ADD", "/admins/administratives/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <%= link_to "TEACHERS", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/teachers", class: "dropdown-item" %>
      <%= link_to "ADD", "/teachers/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <%= link_to "STUDENTS", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/students", class: "dropdown-item" %>
      <%= link_to "ADD", "/students/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <%= link_to "COURSES", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/courses", class: "dropdown-item" %>
      <%= link_to "ADD", "/courses/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <%= link_to "LABORATORIES", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/laboratories", class: "dropdown-item" %>
      <%= link_to "ADD", "/laboratories/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

<% when "secretary" %>
  <li class="nav-item dropdown">
    <%= link_to "ADMINISTRATIVES", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/admins/administratives", class: "dropdown-item" %>
      <%= link_to "ADD", "/admins/administratives/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <%= link_to "TEACHERS", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/teachers", class: "dropdown-item" %>
      <%= link_to "ADD", "/teachers/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <%= link_to "STUDENTS", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/students", class: "dropdown-item" %>
      <%= link_to "ADD", "/students/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <%= link_to "COURSES", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/courses", class: "dropdown-item" %>
      <%= link_to "ADD", "/courses/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <%= link_to "LABORATORIES", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/laboratories", class: "dropdown-item" %>
      <%= link_to "ADD", "/laboratories/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>
<% when "administrative" %>
  <li class="nav-item dropdown">
    <%= link_to "STUDENTS", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/students", class: "dropdown-item" %>
      <%= link_to "ADD", "/students/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <%= link_to "LABORATORIES", '#',
      class: "nav-link dropdown-toggle",
      'data-toggle' => "dropdown",
      role: "button",
      'aria-haspopup' => "true",
      'aria-expanded' => "false" 
    %>
    <div class="dropdown-menu">
      <%= link_to "LIST", "/laboratories", class: "dropdown-item" %>
      <%= link_to "ADD", "/laboratories/new", class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "SOMETHING", "/", class: "dropdown-item" %>
    </div>
  </li>

<% end %>
  <li>
    <%= link_to "SIGN OUT", destroy_admin_session_path, method: :delete, class: 'nav-link' %>
  </li>
</ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
