<ul class="nav">
  <li class="nav-item">
    <%= link_to 'INICIO', root_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
	<%= link_to 'MI INFORMACIÓN',  teachers_home_path, class: "nav-link" %>
  </li>
  <li>
    <%= link_to "CERRAR SESIÓN", destroy_teacher_session_path, method: :delete, class: 'nav-link' %>
  </li>
</ul>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
