<!DOCTYPE html>
<html>
  <head>
    <title>LabEnroll</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <a class="navbar-brand" href="#">Matrículas para Laboratorio</a>
    </nav>
    
    <% if current_student %>
      <%= render('layouts/student_nav') %>
    <% elsif current_teacher %>
      <%= render('layouts/teacher_nav') %>
    <% elsif current_admin %>
      <%= render('layouts/admin_nav') %>
    <% else %>
      <%= render('layouts/general_nav') %>   
    <% end %>

    <%= yield %> 

  </body>
</html>
