<!DOCTYPE html>
<html>
  <head>
    <title>LabEnroll</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div>
     <% if current_student %>

    Signed in as <strong><%= current_student.first_name %></strong>!
    <%= link_to "Sign out", destroy_student_session_path, method: :delete, class: 'logout' %>
    <% else %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
    <% end %>

    <div>
      <% current_student %>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
